USE [UAD_BI]
GO
/****** Object:  Table [dbo].[SBS_DBS_AdminMaster]    Script Date: 14-02-2025 11:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBS_DBS_AdminMaster](
	[Aid] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SBS_DBS_ChangeLog]    Script Date: 14-02-2025 11:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBS_DBS_ChangeLog](
	[DashboardCode] [tinyint] NOT NULL,
	[Workspaceid] [tinyint] NOT NULL,
	[RefBrandid] [smallint] NULL,
	[RefDealerid] [int] NULL,
	[Changedby] [int] NOT NULL,
	[ChangedOn] [datetime] NOT NULL,
	[Requestby] [int] NOT NULL,
	[Requeston] [datetime] NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[remarks] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SBS_DBS_DashboardDealerMapping]    Script Date: 14-02-2025 11:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBS_DBS_DashboardDealerMapping](
	[DashboardCode] [tinyint] NOT NULL,
	[Dealerid] [int] NOT NULL,
	[LastReplicatedon] [datetime] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SBS_DBS_ErrorLog]    Script Date: 14-02-2025 11:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBS_DBS_ErrorLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reqid] [int] NOT NULL,
	[Reason] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SBS_DBS_NewrequestTracker]    Script Date: 14-02-2025 11:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBS_DBS_NewrequestTracker](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brandid] [smallint] NOT NULL,
	[dealerid] [smallint] NOT NULL,
	[dashboardcode] [smallint] NOT NULL,
	[addedby] [int] NOT NULL,
	[addedon] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SBS_DBS_ScheduledDashboard]    Script Date: 14-02-2025 11:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBS_DBS_ScheduledDashboard](
	[Reqid] [int] IDENTITY(1,1) NOT NULL,
	[DashboardCode] [smallint] NOT NULL,
	[Brandid] [smallint] NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Dealerid] [int] NOT NULL,
	[Dealer] [nvarchar](50) NULL,
	[ScheduledOn] [datetime] NOT NULL,
	[Addedby] [int] NOT NULL,
	[Addedon] [datetime] NOT NULL,
	[Editedby] [int] NULL,
	[Editedon] [datetime] NULL,
	[Status] [tinyint] NOT NULL,
	[Deletedby] [int] NULL,
	[Deletedon] [datetime] NULL,
	[DashboardRefresh] [datetime] NULL,
	[FailedReason] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[Reqid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SBS_DBS_STATUS_MASTER]    Script Date: 14-02-2025 11:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBS_DBS_STATUS_MASTER](
	[Status] [tinyint] NOT NULL,
	[StatusName] [varchar](50) NOT NULL,
	[disc] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SBS_DBS_WorkspaceMaster]    Script Date: 14-02-2025 11:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBS_DBS_WorkspaceMaster](
	[WorkspaceID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Workspace] [varchar](max) NOT NULL,
	[Addedon] [datetime] NULL,
	[Addedby] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkspaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[si_dealer_list]    Script Date: 14-02-2025 11:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[si_dealer_list](
	[brand] [varchar](50) NULL,
	[Dealer] [varchar](50) NULL,
	[Brandid] [varchar](50) NULL,
	[Dealerid] [varchar](50) NULL,
	[status] [bit] NULL,
	[Reqid] [int] NULL,
	[Addedon] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SBS_DBS_AdminMaster] ON 

INSERT [dbo].[SBS_DBS_AdminMaster] ([Aid], [Name]) VALUES (1, N'Harish Kothari')
INSERT [dbo].[SBS_DBS_AdminMaster] ([Aid], [Name]) VALUES (2, N'Sidharth Arya')
INSERT [dbo].[SBS_DBS_AdminMaster] ([Aid], [Name]) VALUES (3, N'Manish Sharma')
SET IDENTITY_INSERT [dbo].[SBS_DBS_AdminMaster] OFF
GO
INSERT [dbo].[SBS_DBS_ChangeLog] ([DashboardCode], [Workspaceid], [RefBrandid], [RefDealerid], [Changedby], [ChangedOn], [Requestby], [Requeston], [Url], [remarks]) VALUES (7, 5, 45, 21048, 143565, CAST(N'2025-02-10T15:53:11.893' AS DateTime), 1, CAST(N'2025-02-07T00:00:00.000' AS DateTime), N'https://sb8wjmfk-4200.inc1.devtunnels.ms/', N'hii change done')
INSERT [dbo].[SBS_DBS_ChangeLog] ([DashboardCode], [Workspaceid], [RefBrandid], [RefDealerid], [Changedby], [ChangedOn], [Requestby], [Requeston], [Url], [remarks]) VALUES (17, 1, 9, 20282, 143565, CAST(N'2025-02-12T14:50:04.360' AS DateTime), 3, CAST(N'2025-02-11T00:00:00.000' AS DateTime), N'https://app.powerbi.com/view?r=eyJrIjoiYjI3ZjI0YTYtMDJkMC00YjllLThhMzQtYjc5ZjJlY2NlYzE5IiwidCI6ImNmOTQzOGZmLWE5ZDktNDk0OS05NTRlLWYzNmVkNDdjMjczOSJ9', N'change in logic of last visual of other summary in which take disc_variation > 0')
GO
INSERT [dbo].[SBS_DBS_DashboardDealerMapping] ([DashboardCode], [Dealerid], [LastReplicatedon], [Status]) VALUES (17, 20271, NULL, NULL)
INSERT [dbo].[SBS_DBS_DashboardDealerMapping] ([DashboardCode], [Dealerid], [LastReplicatedon], [Status]) VALUES (17, 20283, NULL, NULL)
INSERT [dbo].[SBS_DBS_DashboardDealerMapping] ([DashboardCode], [Dealerid], [LastReplicatedon], [Status]) VALUES (9, 20994, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SBS_DBS_ErrorLog] ON 

INSERT [dbo].[SBS_DBS_ErrorLog] ([id], [reqid], [Reason]) VALUES (1, 829, N'Cannot read properties of undefined (reading ''0'')')
INSERT [dbo].[SBS_DBS_ErrorLog] ([id], [reqid], [Reason]) VALUES (2, 761, N'Cannot read properties of undefined (reading ''0'')')
INSERT [dbo].[SBS_DBS_ErrorLog] ([id], [reqid], [Reason]) VALUES (3, 834, N'Cannot read properties of undefined (reading ''0'')')
SET IDENTITY_INSERT [dbo].[SBS_DBS_ErrorLog] OFF
GO
SET IDENTITY_INSERT [dbo].[SBS_DBS_NewrequestTracker] ON 

INSERT [dbo].[SBS_DBS_NewrequestTracker] ([id], [brandid], [dealerid], [dashboardcode], [addedby], [addedon]) VALUES (1, 22, 21081, 7, 143565, CAST(N'2025-02-11T13:07:36.700' AS DateTime))
INSERT [dbo].[SBS_DBS_NewrequestTracker] ([id], [brandid], [dealerid], [dashboardcode], [addedby], [addedon]) VALUES (2, 22, 21081, 8, 143565, CAST(N'2025-02-11T13:07:37.797' AS DateTime))
INSERT [dbo].[SBS_DBS_NewrequestTracker] ([id], [brandid], [dealerid], [dashboardcode], [addedby], [addedon]) VALUES (3, 22, 21081, 9, 143565, CAST(N'2025-02-11T13:07:38.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[SBS_DBS_NewrequestTracker] OFF
GO
SET IDENTITY_INSERT [dbo].[SBS_DBS_ScheduledDashboard] ON 

INSERT [dbo].[SBS_DBS_ScheduledDashboard] ([Reqid], [DashboardCode], [Brandid], [Brand], [Dealerid], [Dealer], [ScheduledOn], [Addedby], [Addedon], [Editedby], [Editedon], [Status], [Deletedby], [Deletedon], [DashboardRefresh], [FailedReason]) VALUES (1, 7, 9, N'Mahindra', 8, N'js4wheel', CAST(N'2025-02-02T00:00:00.000' AS DateTime), 1, CAST(N'2025-02-01T16:05:11.750' AS DateTime), NULL, NULL, 6, 143565, CAST(N'2025-02-03T11:13:19.460' AS DateTime), NULL, NULL)
INSERT [dbo].[SBS_DBS_ScheduledDashboard] ([Reqid], [DashboardCode], [Brandid], [Brand], [Dealerid], [Dealer], [ScheduledOn], [Addedby], [Addedon], [Editedby], [Editedon], [Status], [Deletedby], [Deletedon], [DashboardRefresh], [FailedReason]) VALUES (2, 7, 11, N'Hyundai', 20377, N'AM Hyundai', CAST(N'2025-02-02T17:39:38.000' AS DateTime), 143565, CAST(N'2025-02-01T16:39:41.090' AS DateTime), NULL, NULL, 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[SBS_DBS_ScheduledDashboard] ([Reqid], [DashboardCode], [Brandid], [Brand], [Dealerid], [Dealer], [ScheduledOn], [Addedby], [Addedon], [Editedby], [Editedon], [Status], [Deletedby], [Deletedon], [DashboardRefresh], [FailedReason]) VALUES (3, 9, 11, N'Hyundai', 20377, N'AM Hyundai', CAST(N'2025-02-02T17:39:38.000' AS DateTime), 143565, CAST(N'2025-02-01T16:39:41.220' AS DateTime), NULL, NULL, 5, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SBS_DBS_ScheduledDashboard] OFF
GO
INSERT [dbo].[SBS_DBS_STATUS_MASTER] ([Status], [StatusName], [disc]) VALUES (0, N'Scheduled', N'When Dashboard is Scheduled and no operations is performed')
INSERT [dbo].[SBS_DBS_STATUS_MASTER] ([Status], [StatusName], [disc]) VALUES (1, N'Data Refresh In-Progress', N'When Data Refreshing is in Progress')
INSERT [dbo].[SBS_DBS_STATUS_MASTER] ([Status], [StatusName], [disc]) VALUES (2, N'Data Refresh Failed', N'When Data Refreshing Fails at Database')
GO
SET IDENTITY_INSERT [dbo].[SBS_DBS_WorkspaceMaster] ON 

INSERT [dbo].[SBS_DBS_WorkspaceMaster] ([WorkspaceID], [Workspace], [Addedon], [Addedby], [Status]) VALUES (1, N'Top Vs SCS', NULL, NULL, NULL)
INSERT [dbo].[SBS_DBS_WorkspaceMaster] ([WorkspaceID], [Workspace], [Addedon], [Addedby], [Status]) VALUES (2, N'Stock Increase Dashboard', NULL, NULL, NULL)
INSERT [dbo].[SBS_DBS_WorkspaceMaster] ([WorkspaceID], [Workspace], [Addedon], [Addedby], [Status]) VALUES (3, N'CID', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SBS_DBS_WorkspaceMaster] OFF
GO
INSERT [dbo].[si_dealer_list] ([brand], [Dealer], [Brandid], [Dealerid], [status], [Reqid], [Addedon]) VALUES (N'TATA CVBU', N'Johar Automobiles', N'17', N'20621', 1, 199, NULL)
INSERT [dbo].[si_dealer_list] ([brand], [Dealer], [Brandid], [Dealerid], [status], [Reqid], [Addedon]) VALUES (N'Mahindra', N'JS4Wheel', N'9', N'8', 1, 198, NULL)
INSERT [dbo].[si_dealer_list] ([brand], [Dealer], [Brandid], [Dealerid], [status], [Reqid], [Addedon]) VALUES (N'TATA CVBU', N'Roshan CVBU', N'17', N'20131', 1, 206, NULL)
GO
/****** Object:  Index [UQ__SBS_DBS___20C37200C60C9B60]    Script Date: 14-02-2025 11:25:44 ******/
ALTER TABLE [dbo].[SBS_DBS_ErrorLog] ADD UNIQUE NONCLUSTERED 
(
	[reqid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SBS_DBS_ScheduledDashboard] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[si_dealer_list] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[si_dealer_list] ADD  DEFAULT (getdate()) FOR [Addedon]
GO
